<% form_for [:admin, @cms_block] do |f| %>
  <%= render :partial => 'admin/shared/form_buttons' %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :title, 'Title', :class => 'title' %>
    <div class="field"><%= f.text_field :title %></div>
  </div>
  <% f.fields_for f.object.new_record? ? :cms_contents : f.object.current_cms_content do |builder| -%>
    <%= render 'admin/cms_contents/form_fields', :f => builder %>
  <% end -%>
<% end %>
