<h1>Listing Blocks</h1>

<table>
  <tr>
    <th>Title</th>
    <th colspan="3">Actions</th>
  </tr>
<% @cms_blocks.each do |cms_block| %>
  <tr>
    <td><%=h cms_block.title %></td>
    <td><%= link_to 'Show', [:admin, cms_block] %></td>
    <td><%= link_to 'Edit', edit_admin_cms_block_path(cms_block) %></td>
    <td><%= link_to 'Destroy', [:admin, cms_block], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Block', new_admin_cms_block_path %>