<%= form_for @cms_block do |f| %>
  <%= render :partial => 'titan_control/shared/form_buttons' %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :title, "Title#{required_tag}".html_safe, :class => 'title' %>
    <div class="field"><%= f.text_field :title %></div>
  </div>
<%=  f.fields_for f.object.new_record? ? :cms_contents : f.object.current_cms_content do |builder| -%>
    <%= render 'titan_control/cms_contents/form_fields', :f => builder %>
<%   end -%>
<% end %>
