<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "#{controller.class.to_s}##{controller.action_name}") %></title>
  <%= stylesheet_link_tag    "titan_control/admin/admin" %>
  <%= javascript_include_tag "titan_control/admin/admin" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="container">
  <div class="page-title"><h1>Administration</h1></div>
  <div class="menu">
    <ul>
      <li class="container">Dashboard
        <ul>
          <li class="first last"><%= link_to 'Dashboard', admin_url %></li>
        </ul>
      </li>
      <li class="container">Pages
        <ul>
          <li class="first"><%= link_to 'View', admin_cms_pages_url %></li>
          <li class="last"><%= link_to 'New', new_admin_cms_page_url %></li>
        </ul>
      </li>
      <li class="container">Blocks
        <ul>
          <li class="first"><%= link_to 'View', admin_cms_blocks_url %></li>
          <li class="last"><%= link_to 'New', new_admin_cms_block_url %></li>
        </ul>
      </li>
      <li class="container">Products
        <ul>
          <li class="first"><%= link_to 'View', admin_products_url %></li>
          <li class="last"><%= link_to 'New', new_admin_product_url %></li>
        </ul>
      </li>
      <li class="container">Files
        <ul>
          <li class="first"><%= link_to 'View', admin_file_resources_url %></li>
          <li class="last"><%= link_to 'New', new_admin_file_resource_url %></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>

    <%= yield %>
  </div>
</div>

</body>
</html>