<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "#{controller.class.to_s}##{controller.action_name}") %></title>
  <%= stylesheet_link_tag    "titan_control/application" %>
  <%= javascript_include_tag "titan_control/application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="container">
  <div class="page-title"><h1>Administration</h1></div>
  <div class="menu">
    <%= admin_menu_items(TitanControl::AdminMenu) %>
  </div>
  <div class="content">
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>

    <%= yield %>
  </div>
</div>

</body>
</html>