<h2>Page Information</h2>
<div class="input">
  <%= f.label :access, "Access#{required_tag}".html_safe, :class => 'title' %>
  <div class="field"><%= f.select :access, f.object.class::ACCESSES %></div>
</div>
<div class="input">
  <%= f.label :url, "URL#{required_tag}".html_safe, :class => 'title' %>
  <div class="field"><%= f.text_field :url %></div>
</div>
<div class="input">
  <%= f.label :title, "Title#{required_tag}".html_safe, :class => 'title' %>
  <div class="field"><%= f.text_field :title %></div>
</div>
<div class="input">
  <%= f.label :description, 'Description', :class => 'title' %>
  <div class="field"><%= f.text_field :description %></div>
</div>
<div class="input">
  <%= f.label :keywords, 'Keywords', :class => 'title' %>
  <div class="field"><%= f.text_field :keywords %></div>
</div>
<%= f.fields_for (f.object.new_record? ? :cms_contents : f.object.current_cms_content) do |builder| -%>
  <%= render 'titan_control/admin/cms_contents/form_fields', :f => builder %>
<% end -%>
