<h2>Page Information</h2>
<div class="input">
  <%= f.label :access, 'Access', :class => 'title' %>
  <div class="field"><%= f.select :access, CmsMeta::ACCESSES %></div>
</div>
<div class="input">
  <%= f.label :url, 'URL', :class => 'title' %>
  <div class="field"><%= f.text_field :url %></div>
</div>
<div class="input">
  <%= f.label :title, 'Title', :class => 'title' %>
  <div class="field"><%= f.text_field :title %></div>
</div>
<div class="input">
  <%= f.label :description, 'Description', :class => 'title' %>
  <div class="field"><%= f.text_field :description %></div>
</div>
<div class="input">
  <%= f.label :keywords, 'Keywords', :class => 'title' %>
  <div class="field"><%= f.text_field :keywords %></div>
</div>
<% f.fields_for (f.object.new_record? ? :cms_contents : f.object.current_cms_content) do |builder| -%>
  <%= render 'admin/cms_contents/form_fields', :f => builder %>
<% end -%>
