<% form_for [:admin, @cms_page] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= f.select :status, CmsPage::STATUSES %>
  </p>
  <p>
    <%= f.label :show_in_menu %><br />
    <%= f.check_box :show_in_menu %>
  </p>
<% f.fields_for (@cms_page.new_record? ? :cms_meta_attributes : :cms_meta) do |builder| %>
  <%= render 'admin/cms_meta/form_fields', :f => builder %>
<% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
