<% form_for [:admin, @cms_page] do |f| %>
  <%= render :partial => 'admin/shared/form_buttons' %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :status, "Status#{required_tag}", :class => 'title' %>
    <div class="field">
      <%= f.select :status, CmsPage::STATUSES %>
    </div>
  </div>
  <div class="input">
    <%= f.label :menu_title, 'Menu Title', :class => 'title' %>
    <div class="field"><%= f.text_field :menu_title %></div>
  </div>
<% f.fields_for :cms_meta do |builder| %>
  <%= render 'admin/cms_metas/form_fields', :f => builder %>
<% end %>
<% end %>