<h1>Listing Pages</h1>

<table>
  <tr>
    <th>Status</th>
    <th>URL</th>
    <th colspan="3">Actions</th>
  </tr>
<% @cms_pages.each do |cms_page| %>
  <tr>
    <td><%= cms_page.status %></td>
    <td><%= cms_page.url %></td>
    <td><%= link_to 'Show', [:admin, cms_page] %></td>
    <td><%= link_to 'Edit', edit_admin_cms_page_path(cms_page) %></td>
    <td><%= link_to 'Destroy', [:admin, cms_page], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_admin_cms_page_path %>