<% form_for [:admin, @file_resource], :html => {:multipart => true} do |f| %>
  <%= render :partial => 'admin/shared/form_buttons' %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :name, "Name#{required_tag}", :class => 'title' %>
    <div class="field"><%= f.text_field :name %></div>
  </div>
  <div class="input">
    <%= f.label :download_url, "Download URL#{required_tag}", :class => 'title' %>
    <div class="field"><%= f.text_field :download_url %></div>
  </div>

  <h2>Releases</h2>
<% unless @file_resource.new_record? -%>
  <ul class="top-nav">
    <li id="add_release_link" class="first last add-new"><%= link_to_function 'Add Release', "$('add_release_link').hide(); $('current_release_link').show(); $('current_release_input').hide(); $('add_release_input').show(); $('destroy_release').value='0';", :title => 'Create New Release' %></li>
    <li id="current_release_link" class="first last" style="display:none"><%= link_to_function 'Current Release', "$('current_release_link').hide(); $('add_release_link').show(); $('add_release_input').hide(); $('current_release_input').show(); $('destroy_release').value='1';", :title => 'Select Current Release' %></li>
  </ul>
  <div id="current_release_input" class="input">
    <%= f.label :current_release_id, "Current Release#{required_tag}", :class => 'title' %>
    <div class="field"><%= f.select :current_release_id, @file_resource.file_resource_releases.map{|r| [r.file, r.id]} %></div>
  </div>
<% end -%>
<% f.fields_for(:file_resource_releases, (f.object.new_record? ? nil : f.object.file_resource_releases.build)) do |builder| %>
  <%= builder.hidden_field(:_destroy, :value => '1', :id => 'destroy_release') unless @file_resource.new_record? %>
  <div id="add_release_input" class="input"<% unless @file_resource.new_record? -%> style="display:none"<% end -%>>
    <%= builder.label :file_upload, 'Add Release', :class => 'title' %>
    <div class="field">
      <%= builder.file_field :file_upload %>
<% if @file_resource.new_record? -%>
      <%= builder.hidden_field :make_current, :value => '1' %>
<% else -%>
      <div>
        <%= builder.check_box :make_current %>
        <%= builder.label :make_current, 'Set as current release', :class => 'check' %>
      </div>
<% end -%>
    </div>
  </div>
<% end -%>

  <h2>Product Association</h2>
<% f.fields_for(:product_file_resources) do |builder| -%>
  <%= builder.hidden_field :_destroy, :value => (builder.object.new_record? ? 1 : 0), :id => 'destroy_product_assoc' %>
  <div class="input">
    <%= builder.label :product_id, 'Product', :class => 'title' %>
    <div class="field"><%= builder.select :product_id, Product.name_order.map{|p| [p.name, p.id]}, {:include_blank => true}, {:onchange => "$('destroy_product_assoc').value = (this.value == '' ? 1 : 0)"} %></div>
  </div>
<% end %>

<% f.fields_for :cms_meta do |builder| -%>
  <%= render 'admin/cms_metas/form_fields', :f => builder %>
<% end -%>
<% end %>
