<h2>Listing Files</h2>
<ul class="top-nav"><li class="first last add-new"><%= link_to 'New File', new_admin_file_resource_path, :title => 'Create New File' %></li></ul>
<table class="list" cellpadding="0" cellspacing="0">
	<thead>
	  <tr class="first last">
	    <th class="first">Name</th>
    	<th>Access</th>
    	<th>URL</th>
    	<th class="last">Title</th>
  	</tr>
	</thead>
	<tbody>
	<% @file_resources.each do |file_resource| -%>
	  <tr>
	    <td class="first title">
				<div class="title"><%= link_to h(file_resource.name), edit_admin_file_resource_path(file_resource), :title => 'Edit File' %></div>
				<div class="actions">
					<%= link_to 'Edit', edit_admin_file_resource_path(file_resource), :title => 'Edit File' %>
					<%= link_to 'Show', url_for(:controller => '/cms', :action => 'show', :id => file_resource.cms_meta.id, :format => 'html'), :popup => true, :title => 'View File in New Window' %>
					<%= link_to 'Destroy', [:admin, file_resource], :confirm => 'Are you sure?', :method => :delete, :class => 'last', :title => 'Delete File' %>
				</div>
			</td>
	    <td><%= file_resource.access %></td>
	    <td><%=h file_resource.cms_meta.url %></td>
	    <td class="last"><%=h file_resource.cms_meta.title %></td>
	  </tr>
	<% end -%>
	</tbody>
</table>