<h1>Files</h1>
<ul class="top-nav"><li class="first last add-new"><%= link_to 'New File', new_admin_file_resource_path, :title => 'Create New File' %></li></ul>
<table class="list" cellpadding="0" cellspacing="0">
  <thead>
    <tr class="first last">
      <th class="first">Name</th>
      <th>Access</th>
      <th>Download URL</th>
      <th>URL</th>
      <th class="last">Title</th>
    </tr>
  </thead>
  <tbody>
<% @file_resources.each do |file_resource| -%>
    <tr>
      <td class="first title">
        <div class="title"><%= link_to h(file_resource.name), edit_admin_file_resource_path(file_resource), :title => 'Edit File' %></div>
        <div class="actions">
          <%= link_to 'Edit', edit_admin_file_resource_path(file_resource), :title => 'Edit File' %>
          <%= link_to 'Destroy', [:admin, file_resource], :confirm => 'Are you sure?', :method => :delete, :class => 'last', :title => 'Delete File' %>
        </div>
      </td>
      <td><%= file_resource.access %></td>
      <td>
        <div><%=h file_resource.download_url %></div>
        <div class="actions">
          <%= link_to 'Download', url_for_downloads(file_resource), :class => 'last', :title => 'Download the current release' %>
        </div>
      </td>
      <td>
        <div><%=h file_resource.cms_meta.url %></div>
        <div class="actions">
          <%= link_to 'Show', url_for_meta(file_resource.cms_meta), :popup => true, :class => 'last', :title => 'View File in New Window' %>
        </div>
      </td>
      <td class="last"><%=h file_resource.cms_meta.title %></td>
    </tr>
<% end -%>
  </tbody>
</table>