<h1>Listing Files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Title</th>
    <th colspan="3">Actions</th>
  </tr>
<% @file_resources.each do |file_resource| -%>
  <tr>
    <td><%=h file_resource.name %></td>
    <td><%=h file_resource.cms_meta.url %></td>
    <td><%=h file_resource.cms_meta.title %></td>
    <td><%= link_to 'Show', url_for(:controller => '/cms', :action => 'show', :id => file_resource.cms_meta.id, :format => 'html'), :popup => true %></td>
    <td><%= link_to 'Edit', edit_admin_file_resource_path(file_resource) %></td>
    <td><%= link_to 'Destroy', [:admin, file_resource], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New File', new_admin_file_resource_path %>