<h3>Content Revisions</h3>
<%= link_to_function 'blank new revision', "alert('new blank')" %>
<ul class="cms_contents_area">
<% f.object.cms_contents.each do |cms_content| -%>
  <% is_current = f.object.current_cms_content == cms_content %>
  <li class="cms_content_area<%= ' active_cms_content_area' if is_current %>">
    <%= cms_content.created_at %> <%= cms_content.title %>

    <ul>
      <li><%= link_to_function 'preview', "alert('ouch')" %></li>
      <li><%= link_to_function 'create new from this revision', "alert('blah')" %></li>
      <li><% if is_current -%><%= ' (current)' %><% elsif cms_content.status == 'published' -%><%= link_to_function 'set current', "alert('set current')" %><% end -%></li>
    </ul>
  </li>
<% end -%>
</ul>
