<% form_for [:admin, @category] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category_type %><br />
    <%= f.text_field :category_type %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
