<% form_for @category do |f| %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :category_type, 'Category Type', :class => 'title' %>
    <div class="field">
      <%= f.text_field :category_type %>
    </div>
  </div>
  <div class="input">
    <%= f.label :name, 'Name', :class => 'title' %>
    <div class="field">
      <%= f.text_field :name %>
    </div>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
