<% form_for [:admin, @product] do |f| %>
  <%= render :partial => 'admin/shared/form_buttons' %>
  <%= f.error_messages %>

  <div class="input">
    <%= f.label :name, "Name#{required_tag}", :class => 'title' %>
    <div class="field"><%= f.text_field :name %></div>
  </div>
<% f.fields_for :cms_meta do |builder| %>
  <%= render 'admin/cms_metas/form_fields', :f => builder %>
<% end %>
<% end %>
