<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :meta_description %>" />
  <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <%= stylesheet_link_tag("/themes/default/stylesheets/2col-left") %>
  
</head>
<body>

  <div class="wrapper">

    <div class="page">
      <div class="header">
        <h2 class="logo"><%= link_to 'MainPine', root_url %></a></h2>
        <div class="top-nav">
          <%= yield :nav_top %>
        </div>
      </div>
      
      <div class="main">
        <div class="col-main">
          <h1><%= yield :page_header %></h1>
          <div class="content">
          <%= yield %>
          </div>
          <div class="content-footer">&nbsp;</div>
        </div>
        <div class="col-right">
          <%= yield :col_right%>
        </div>
      </div>

      <div class="footer-wrapper">
        <div class="footer">
          <%= yield :footer %>
        </div>
      </div>

      <div class="clearer"></div>
    </div>
    <!-- END PAGE -->
    <div class="clearer"></div>
  </div>
  <!-- END WRAPPER -->

</body>
</html>
