<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "#{controller.class.to_s}##{controller.action_name}") %></title>
    <%= stylesheet_link_tag '/themes/admin/stylesheets/styles' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'tiny_mce/tiny_mce'%>
    <%= javascript_include_tag 'tiny_mce_init'%>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div class="page-title"><h1>Mainpine Administration<h1></div>
      <div class="menu">
        <ul>
          <li>Dashboard
            <ul>
              <li class="first last"><%= link_to 'Dashboard', admin_url %></li>
            </ul>
          </li>
          <li>Pages
            <ul>
              <li class="first"><%= link_to 'View', admin_cms_pages_url %></li>
              <li class="last"><%= link_to 'New', new_admin_cms_page_url %></li>
            </ul>
          </li>
          <li>Blocks
            <ul>
              <li class="first"><%= link_to 'View', admin_cms_blocks_url %></li>
              <li class="last"><%= link_to 'New', new_admin_cms_block_url %></li>
            </ul>
          </li>
          <li>Products
            <ul>
              <li class="first"><%= link_to 'View', admin_products_url %></li>
              <li class="last"><%= link_to 'New', new_admin_product_url %></li>
            </ul>
          </li>
          <li>Files
            <ul>
              <li class="first"><%= link_to 'View', admin_file_resources_url %></li>
              <li class="last"><%= link_to 'New', new_admin_file_resource_url %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
