<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "#{controller.class.to_s}##{controller.action_name}") %></title>
  <%= stylesheet_link_tag    "admin/dashboard" %>
  <%= javascript_include_tag "admin/dashboard" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="logged_out <%= controller.action_name %>">

<div id="container">
  <div class="page-title"><h1>Administration</h1></div>
  <div class="content">
<% if flash.keys.any? -%>
<%   flash.each do |type, msg| -%>
    <%= content_tag :div, msg, :class => "flash flash_#{type}" %>
<%   end -%>
<% end -%>

    <%= yield %>
  </div>
</div>

</body>
</html>